.page-title {
  margin: 0 3rem;
}

.info-page-container {
  margin: 2rem 12rem 5rem;
  display: grid;
  grid-template-columns: 45% 1fr 52%;
}

.info-h3 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #494e53;
}

.info-p {
  font-size: 1rem;
  font-weight: 200;
  color: #494e53;
  margin: 0.3rem 0;
  line-height: 1.4rem;
}

.form-container {
  background-color: #ecf7f8;
  border-radius: 0.5rem;
  padding: 0rem 2rem 0rem;
}

.signature-container {
  background-color: #a0d8db;
  height: fit-content;
  border-radius: 0.5rem;
  padding: 2rem;
  margin-top: 2rem;
}

.form-section {
  margin: 3rem 0;
}

.form-heading {
  font-size: 1.25rem;
  font-weight: 600;
  color: #494e53;
}

.info-input {
  background-color: white;
  width: 96%;
  height: 2.3rem;
  margin-top: 0.6rem;
  border-radius: 0.5rem;
  padding-left: 1rem;
  font-weight: 400;
  font-family: 'Azeret Mono';
}

.info-input::placeholder {
  color: #9ea3a7;
}

input[type='file'] {
  padding: 0;
  /* color: #9ea3a7; */
}

input[type='file']::file-selector-button {
  background-color: #d0d1d2;
  height: 2.3rem;
  border-radius: 0.5rem 0 0 0.5rem;
  border: thin solid gray;
  margin-right: 0.5rem;
  padding: 0 0.5rem 0;
  font-family: 'Azeret Mono';
  font-size: 0.9rem;
  font-weight: 200;
}

.input-lead {
  background-color: #d0d1d2;
  display: flex;
  align-items: center;
  height: 2.4rem;
  margin-top: 0.6rem;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0 1rem 0;
  font-size: 0.9rem;
  font-weight: 200;
}

.split {
  border-radius: 0 0.5rem 0.5rem 0;
}

textarea {
  width: 92%;
  height: 10rem;
  margin-top: 0.6rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  font-size: 0.9rem;
  font-weight: 400;
  font-family: 'Azeret Mono';
}

textarea::placeholder {
  color: #9ea3a7;
  font-weight: 200;
}

textarea:focus {
  outline-color: #b3e0e2;
}

.message-box {
  background-color: white;
  border-radius: 0.5rem;
  margin: 0.5rem 0 1rem;
  padding: 1.5rem;
  color: #282a2d;
  font-weight: 200;
  line-height: 1.4rem;
  word-break: break-all;
}

.response {
  color: black;
  font-weight: 600;
  text-align: center;
  padding-top: 2rem;
}

@media only screen and (max-width: 800px) {
  .info-page-container {
    display: flex;
    margin: 1.5rem;
    flex-flow: row wrap;
  }

  .form-container {
    margin: 1rem 0 2rem;
  }
}
