.button-outer {
  align-items: center;
  user-select: none;
}

.button-inner {
  border-radius: 1.5rem;
  cursor: pointer;
  font-weight: 600;
  user-select: none;
  text-align: center;
  font-size: 1rem;
  color: white;
  background-color: black;
  padding: 1rem 0;
  -webkit-user-select: none;
  -ms-user-select: none;
}