a:link {
  font-weight: 600;
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.link {
  padding-right: 2rem;
}

.searchbar {
  width: 100%;
  padding: 0 2.5rem;
  display: flex;
}

input {
  width: 80%;
  height: 96%;
  background-color: #f0f0f0;
  border-radius: 0.5rem 0 0 0.5rem;
  border: none;
  padding-left: 2rem;
  font-size: 0.9rem;
  font-weight: 200;
}

input::placeholder {
  font-family: 'Azeret Mono';
  font-size: 0.9rem;
  font-weight: 200;
}

input:focus {
  outline-color: #b3e0e2;
}

.go {
  width: 10%;
  height: 100%;
  background-color: #b3e0e2;
  border-radius: 0 0.5rem 0.5rem 0;
  border: none;
  font-size: 1rem;
  padding: 0;
}

.logo {
  height: 40px;
}

.menu {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .header {
    padding: 2rem 1.5rem 0.5rem;
  }
  .searchbar {
    padding: 0 2rem;
  }

  input {
    width: 70%;
  }

  .go {
    width: 30%;
  }
}
