.tooltip-outer {
  position: relative;
}

.tooltip-popup {
  padding: 0.9rem;
  background: black;
  z-index: 100000;
  position: absolute;
  border-radius: 0.5rem;
  display: flex;
}

.tooltip-inner {
  font-size: 0.75rem;
  font-weight: normal;
  line-height: 1.25rem;
  color: #a0d8db;
}
